---
layout: homepage
title: Wei Heng
---
<div>
    <h2 style="font-weight: lighter">So long, and ...</span></h2>
    {% for post in site.posts %}
      <div id="post-card">
        <div id="card-profile">
            <div id="excerpt-title">
              <span id="title"><i class="fa fa-file-text-o"></i><span class="awesome_font_margin"></span><a href="{{ post.url }}">{{ post.title }}</a></span>
              <span id="timedate"><i class="fa fa-calendar-check-o"></i><span class="awesome_font_margin"></span>{{ post.date | date_to_string }}</span>
            </div>
            <div id="excerpt">
              <div id="card-content">
                <a href="{{post.url}}">
                  {% if post.content contains "<!--more-->" %}
                    {{ post.content | split:"<!--more-->" | first | strip_html | remove: "<p>" | remove: "</p>" }}
                  {% else %}
                    {{ post.content | strip_html | truncatewords:50}}
                  {% endif %}
                </a>
              </div>
              <div id="excerpt-img">
              {% assign foundImage = 0 %}
              {% assign images = post.content | split:"<img " %}
              {% for image in images %}
                {% if image contains "src" %}
                  {% if foundImage == 0 %}
                    {% assign html = image | split:">" | first %}
                    <img {{ html }} />
                    {% break %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              </div>
            </div>
            <div id="like" >
              <span style="margin-left:5px; margin-right:15px"><i class="fa fa-comment-o"></i><span class="awesome_font_margin"><a href="{{ post.url }}/#disqus_thread"></a></span></span>
              <span><i class="fa fa-heart-o"></i></span><span class="awesome_font_margin"></span><a href="{{ post.url }}">0</a>
            </div>
        </div>
      </div>
    {% endfor %}
</div>

<!-- add comment count for article -->
<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'lengerfulluse'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = '//' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
