<div class="site-nav">
    <div class="nav-logo">
    </div>
    <div class="nav-content">
        <a href="/index.html"><span class="nav-content-item">Home</span></a>
        <a href="#"><span class="nav-content-item item-selected">Tags</span></a>
        <a href="/me.html"><span class="nav-content-item">About</span></a>
        <span>
            <div class="nav-search">
                <span class="search-input"><input type="text" id="search" placeholder="Search..." /></span>
                <span class="icon"><i class="fa fa-search"></i></span>
            </div>
        </span>
    </div>
    <div class="nav-discovery">
    </div>
</div>
