.post-meta {
	margin-top: 30px;
	font-style: italic;
	text-align: right;
}
p.post-meta {
	color: #999;
	font-size: small
}
#post-content a {
	text-decoration: none;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
#post-title {
	font-size: xx-large;
}
#post-year {
	color: #999999;
	font-size: 150%;
	font-weight: lighter;
	margin-top: 10px;
}
.copyright {
	color: #999999;
	font-weight: 200;
	text-align: center;
}
.project {
	font-family: "Helvetica";
	font-size: 700;
}
.author {
	font-size: small;
}
.header-p {
    text-align: left;
    margin: 0 16px 20px 0px;
    font-family: "Lucida Console";
  }
