/* navigator things */
.site-nav {
	right: 0;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	z-index: 600;
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.nav-logo {
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
}
img {
	max-width: 100%;
	max-height: 100%;
}

figure.highlight {
	 max-width: 100%;
}

.nav-search {
	float: right;
	margin-top: 11.5px;
	padding: 0;
	line-height: 25px;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #c2c9d4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 15px;
	-webkit-transition: width .55s ease;
	-moz-transition: width .55s ease;
	-ms-transition: width .55s ease;
	-o-transition: width .55s ease;
	transition: width 1.55s ease;
}
.nav-search:hover {
	border: 1px solid #337ab7;
	transition: all 300ms ease-in-out;
}

.nav-search:hover .icon {
	color: #337ab7;
}

.search-input {
	padding-right: 13px;
}
.nav-search .search-input {
	float: right;
	color: #999999;
}
.nav-search .icon {
	float: right;
	color: #999999;
}
.nav-search input#search {
	-webkit-appearance: none;
	background-color: #f8f8f8;
	outline: none;
	font-size: 12px;
	border: 0;
}
#results-container {
	margin-top: 10px;
	position: fixed;
}
.nav-discovery {
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
}
.nav-content {
	float: left;
	line-height: 50px;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	height: 100%;
}
.nav-content-item {
	float: left;
	margin-right: 20px;
	font-weight: 400;
	font-size: 120%;
}

.item-selected {
	border-bottom: 2px solid #C30000;
	font-weight: 600;
}

.nav-content-item:hover {
	font-weight: 600;
}

/* main body */
.main-left {
	margin-top: 121px;
	float: left;
	position: relative;
}

/* display tags on blog list page */

.hung-panel {
	height: 100%;
	width: 80%;
	float: right;
}

.tag-cloud {
	display: inline-block;
	width: 70%;
	height: 100%;
	padding-left: 10px;
	padding-top: 6px;
}

.tag-title {
	display: inline-block;
	font-family: monospace;
	margin-bottom: 5px;
}

.tag-item {
	margin-bottom: 4px;
	background-color: #F8F8F8;
	padding: 1px 3px 1px;
	border: 1px solid #337ab7;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 15px;
	display: inline-block;
}

/* when curser hover on tag-item, front and 
background color are switched. So as for a link font color
*/

.tag-item:hover {
	background-color: #337ab7;
}

.tag-item:hover a{
	color: #fff;
	text-decoration: none;
}

/* remove hover a text decoration in tag item */

.toc {
	width: 20%;
	position: fixed;
	text-align: right;
}

.toc a:hover {
	font-weight: 700;
	color:#111112;
	text-decoration: none;
}

.toc a {
  color:#909092;
}

/* for retive margin with fixed html header nav */
.anchor {
	padding-top: 51px;
}

.clickable-header {
  cursor:pointer;
}
.clickable-header:hover {
  text-decoration:underline;
}
.top-level-header {
  display:inline;
}
.sub-level-header {
	display:  inline; 
}
.back-to-top {
  margin-left:5px;
  cursor:pointer;
}

.main-center {
	float: left;
	margin-top: 51px;
}
.main-right {
	float: right;
	margin-top: 51px;
}

.post-list-title {
	font-family: monospace;
	margin-top: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e0e3e9;
	text-align: center;
}

.post-meta {
	font-style: italic;
	text-align: left;
	position: relative;
	font-size: small;
	margin-top: 15px;
}
#post-nav {
	float: right;
}
#post-tags {
	float: right;
	margin-left: 10px;
}

/* archives css, organize for category and tags */
#post-content a {
	text-decoration: none;
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
#post-title {
	font-size: 20px;
	margin: 20px 0;
}
#post-year {
	color: #232323;
	font-size: 150%;
	font-weight: lighter;
	margin-top: 10px;
}
.copyright {
	color: #999999;
	font-weight: 200;
	font-size: 12px;
	text-align: center;
}
.project {
	font-family: "Helvetica";
	font-size: 700;
}
.author {
	font-size: small;
}
.header-p {
	text-align: left;
	margin: 0 16px 20px 0px;
	font-family: "Lucida Console";
}
#like {
	text-align: right;
	display: inline-block;
	width: 100%;
}
#post-card {
	margin-bottom: 18px;
	width: 100%;
	background-color: #F8F8F8;

}

#card-profile {
	padding: 10px 20px 4px;
	border: 1px solid #e0e3e9;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
	overflow: auto;
}
/* display card with transition effect when hover */
#card-profile:hover {
	border: 1px solid #337ab7;
	transition: all 300ms ease-in-out;
}

#card-profile a {
	text-decoration: none;
}

#card-content {
	text-indent: 24px;
	color: #626252;
	float: left;
	width: 75%;
	height: 100%;
}
#card-content a {
	color: #546673;
}
#excerpt-title {
	width: 100%;
	margin-bottom: 4px;
}
#excerpt-img {
	float: right;
	width: 20%;
	height: 100%;
}

#excerpt {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
}
#timedate {
	margin-right: 5px;
	float: right;
}
#title {
	margin-right: 5px;
	margin-left: 0px;
}
.awesome_font_margin {
	margin-left: 5px;
}
.awesome_element_margin {
	margin-left: 25px;
}
