<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>楞伽山人</title>
    <link rel="shortcut icon" type="image/png" href="/images/heng.png">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="/stylesheets/lengerfulluse.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/font_awesome.css" type="text/css" />
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="site-nav">
        <div class="nav-logo">
        </div>
        <div class="nav-content">
            <a href="/index.html"><span class="nav-items">Home</span></a>
            <a href="/project.html"><span class="nav-items">Projects</span></a>
            <a href="/me.html"><span class="nav-items">About</span></a>
        </div>
    </div>
    <div class="main-left">
    </div>
    <div class="main-center">
        {{content}}
        <div class="footer">
            <div class="copyright">
                Personal technical blog for software development practices, reading notes on ML, NLP.
                <br/> &copy; 2013&mdash;2015 by HengWei. All Rights Reserved.
            </div>
        </div>
    </div>
    <div class="main-right">
    </div>
</body>

</html>
